
<div class="footer topMargin">
    <div class="footer-bar">
        <div class="inner">
            <div class="links-page">
                <a href="#" class="link-uc-white">Newsletter</a>
                <a href="#" class="link-uc-white">Ausschreibungen</a>
                <a href="#" class="link-uc-white">Presse</a>
                <a href="#" class="link-uc-white">Datenschutz</a>
                <a href="#" class="link-uc-white">Impressum</a>
            </div>
            <div class="links-socialMedia">
                <a href="#">twitter</a>
                <a href="#">facebook</a>
                <a href="#">instagram</a>
                <a href="#">youtube</a>
            </div>
        </div>  
    </div>

    <div class="sitemap">
        <div class="inner">
        
        <table>
            <!-- <th class="small-uc-bold c-white">Iba</th>
            <th class="small-uc-bold c-white">Projekte</th>
            <th class="small-uc-bold c-white">Mediathek</th>
            <th class="small-uc-bold c-white">Veranstaltungen</th> -->
            <tr class="x-small-uc-bold c-white">
                <td>Wissen schafft Stadt</td>
                <td>Übersicht</td>
                <td>Mediathek</td>
                <td>Kalender</td>
            </tr>
            <tr class="x-small-uc-bold c-white">
                <td>Struktur</td>
                <td></td>
                <td>Dokumentation</td>
                <td>Zwischenpräsnetation</td>
            </tr>
            <tr class="x-small-uc-bold c-white">
                <td>Prozess</td>
                <td></td>
                <td></td>
                <td>Abschlusspräsentation</td>
            </tr>
            <tr class="x-small-uc-bold c-white">
                <td>Format</td>
            </tr>
            <tr class="x-small-uc-bold c-white">
                    <td>Netzwerk</td>
                    
                </tr>
        </table>
        <div class="adress">
            <ul>
                <li class="small-uc-bold"> Internationale Bauaustellung</li>
                <li>Heidelberg GmbH</li>
                <li>Emil-Maier-Straße 16 </li>
                <li>69115 Heidelberg</li>
            </ul>
            <ul>
                    <li> T +49.6221.6586.500</li>
                    <li> F +49.6221.6586.500</li>
                    <li class="c-white"><a href="#" class="link c-white">info@iba-heidelberg.de</a> </li>
                </ul>
               
            </div>
    </div>

    </div>
    

</div>